
.center{
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: azure;
}
body{
    background-image: url("imagenes/tierradelfuego.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
